<app-loading [visible]="isLoading"></app-loading>

<div class="box-card">
  <div class="card" *ngFor="let item of currencyData">
    <span class="days">{{ item.date | date: 'dd/MM/yyyy' }}</span>

    <div class="box-values">
      <div>
        <span><span class="text">Open:</span> R$ {{ item.open | number:'1.4-4' }}</span>
        <span><span class="text">High:</span> R$ {{ item.high | number:'1.4-4' }}</span>
      </div>

      <div>
        <span><span class="text">Close:</span> R$ {{ item.close | number:'1.4-4' }}</span>
        <span><span class="text">Low:</span> R$ {{ item.low | number:'1.4-4' }}</span>
      </div>
    </div>

    <div class="close-diff">
      <span
        [ngClass]="{
          'positive': item.closeDiff > 0,
          'negative': item.closeDiff < 0
        }"
      >
        <span class="text">close diff (%):</span>
        {{ item.closeDiff | number:'1.2-2' }} %
      </span>
      <div>
        <img
          [src]="item.closeDiff > 0
            ? 'assets/images/positive.png'
            : 'assets/images/low.png'"
          [alt]="item.closeDiff > 0 ? 'Positivo' : 'Negativo'"
        />
      </div>
    </div>
  </div>
</div>
