<app-loading [visible]="isLoading"></app-loading>

<ng-container *ngIf="enableCurrency">
  <hr class="line">
  <div class="currency-container">
    <div class="box-currency">
      <div class="text">
        <span>Exchange rate now</span>
        <p>{{ dateString | date: 'dd/MM/yyyy - HH\'h\'mm' }}</p>
      </div>
      <span class="coin">{{ valueCurrencyCode }}/BRL</span>
    </div>

    <div class="box-value">
      <h1>R$ {{ exchangeValue | number:'1.2-2' }}</h1>
    </div>

    <div class="box-days">
      <span>LAST 30 DAYS</span>
      <button (click)="openListCard()">
        <img *ngIf="!enableList" src="assets/images/sum.png" alt="sinal somar">
        <img *ngIf="enableList" src="assets/images/subtract.png" alt="sinal subtrair">
      </button>
    </div>
    <hr *ngIf="!enableList" class="line">
  </div>
</ng-container>

<app-list-currency-card *ngIf="enableList" [valueCurrencyCode]="valueCurrencyCode"></app-list-currency-card>
<hr *ngIf="enableList" class="lineClose">
