<hr class="line">
<div class="currency-container">
  <div class="box-currency">
    <div class="text">
      <span>Exchange rate now</span>
      <p>09/03/2022 - 15h09</p>
    </div>
    <span class="coin">USD/BRL</span>
  </div>

  <div class="box-value">
    <h1>R$ 5,00</h1>
  </div>

  <div class="box-days">
    <span>LAST 30 DAYS</span>
    <img src="assets/images/sum.png" alt="Sinal somar">
  </div>
  <hr class="line">
</div>

<!-- <div class="box-card">
  <div class="card">
      <span class="days">09/03/2022</span>
      <div class="box-values">
          <div>
            <span>Open: R$ 5.0666</span>
            <span>Hight: R$ 5.0689</span>
          </div>
          <div>
            <span>Close: R$ 5.0038</span>
            <span>LOw: R$ 4.9836</span>
          </div>
      </div>
      <div>
        <span>close diff (%): +1.15%</span>
        <img src="assets/images/positive.png" alt="Positivo">
      </div>
  </div>
</div>
-->