<div class="exchange-container">
  <div class="exchange">
    <div>
      <header class="header">
       <img src="assets/images/logo.png" alt="Logo">
      </header>
      <hr class="line">
      <h2 class="page-title">BRL EXCHANGE RATE</h2>
      <app-currency-search (currencyCodeChange)="onCurrencyCodeChanged($event)"></app-currency-search>
     <!-- <app-currency-card></app-currency-card> -->
    </div>
    <footer class="footer">
      <p>Copyright 2022 - Action Labs</p>
    </footer>
  </div>
</div>
